<div class="comment">
  <a class="avatar">
    <img src="/images/default-image.png">
  </a>
  <div class="content">
    <a class="author"><%= current_user.nickname %></a>
    <div class="metadata">
      <span class="date"><%= time_ago_in_words(@missionComment.updated_at - 1) %></span>
    </div>
    <div class="text">
    <%= @replyContent %>
    </div>
  </div>
</div>