<div class="ui one stackable cards" style="padding-bottom:100px;margin:0 auto;">
  <% for i in 1..6 do %>

<div class="ui fluid card">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="/images/test<%= i%>.jpg"> Elliot
    </div>
    
    <!--메인 이미지-->
    <div class="image">
      <img class="image" src="/images/test<%= i%>.jpg">
    </div>
    
    <!--내용-->
    <div class="content">
      <span class="left floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <i class="share alternate icon"></i>
        9 shared
      </span>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
    </div>
  <% end %>
</div>