<style type="text/css">
  .basic-card {
    height: 170px;
  }
  .basic-card-thumbnail {
    height: auto;
    min-height: 100% !important;
  }
 
</style>


<!--<div class="row center">-->
<!--  <p class="header col s12 light">오늘 할 덕질을 내일로 미루지 말자</p>-->
<!--</div>-->

    <% title = ["[1일 1덕]", "데일리 팬뉴스", "아티스트 프로필"] %>
    <div class="ui three stackable cards">
    <% for i in 1..3 do %>
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/basic<%= i %>.png">
          </div>
        </div>
    <% end %>


<div class="ui three stackable cards">
<% for i in 1..6 do %>

  <div class="ui fluid card">
    <div class="image">
      <img src="/images/test<%= i %>.jpg">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
    </div>
<% end %>

</div>