<style type="text/css">
  .timeline_card_add_comment {
    font-size: 13px;
  }
</style>



<!--nav bar-->
<div class="ui menu" style="background: #ffc718;margin-bottom: 74px;">
    <div class="header item">
      <img class="logo_image" src="/images/white_duck_logo.png">
  </div>
  
  <div class="right item">
    <div class="ui simple dropdown item">
        아이돌 <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">게임으로 바꾸기</a>
          <!--<a class="item" href="#">Link Item</a>-->
          <!--<div class="divider"></div>-->
          <!--<div class="header">Header Item</div>-->
          <!--<div class="item">-->
          <!--  <i class="dropdown icon"></i>-->
          <!--  Sub Menu-->
          <!--  <div class="menu">-->
          <!--    <a class="item" href="#">Link Item</a>-->
          <!--    <a class="item" href="#">Link Item</a>-->
          <!--  </div>-->
          <!--</div>-->
          <!--<a class="item" href="#">Link Item</a>-->
        </div>
    </div>
    <!--프로필 탭-->
    <a class="item" href="#">
      <i class="user icon"></i>
      
    <!--만들기 탭-->
    </a>
    <a class="item" href="#">
      <i class="write icon"></i>
    </a>
  </div>
</div>


<!--새로운 카드-->
<div class="ui two column centered grid" style="margin-bottom: 61px;">
  <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <div class="left floated">
      <img class="ui avatar image" src="/images/card_userprofile.jpg"> Elliot</div>
    </div>
    <div class="image">
      <img class="card_content_image" src="/images/card_content_image.png">
    </div>
    
    <!--첫 번째 공유.댓글.좋아요+숫자 줄-->
    <div class="content">
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        &nbsp;&nbsp;
        <i class="share alternate icon"></i>
        8 share 
        &nbsp;&nbsp;
      </span>
      <i class="heart outline like icon"></i>
        17 likes
    </div>
    
    <!--두 번째 공유.댓글.좋아요 아이콘 줄-->
    <div class="ui three column  grid">
      <div class="column">
          <i class="heart outline like icon"></i>
      </div>
      <div class="column">
          <i class="share alternate icon"></i>
      </div>
      <div class="column">
          <i class="comment icon"></i>
      </div>
    </div>

    <!--세 번째 좋아요 및 댓글 쓰기 줄-->
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <p class="timeline_card_add_comment">댓글 달기</p>
        <!--<i class="heart outline icon"></i>-->
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
        
    </div>
  </div>
</div>



    <!--본인 타임라인-->
<!--    <div class="container" style="width:600px; margin:0 auto;">-->
<!--      <div class="row">-->
<!--        <div class="input-field col s12" style="padding-top: 40px;">-->
<!--          <div class="card">-->
<!--            <div class="card-image">-->
<!--              <img src="http://i.imgur.com/3ABuGpa.jpg" height="50%" width="50%">-->
<!--              <span class="card-title">ㄴ AOA 새 미니앨범 누가 누가 많이 샀나?</span>-->
<!--            </div>-->
            
<!--            <div class="card-content">-->
<!--              <p>이번 미니앨범 8장 구매했습니다! 맴순이들 이번에도 1위가자 아자아자~~!!!!</p>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <div>-->
<!--                    #인증  #앨범  #AOA-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="row">-->
<!--                    <div class="col s6"><i class="fa fa-heart fafa-heart" aria-hidden="true" style="color:pink;padding-left:30px;"> 15</i></div>-->
<!--                    <div class="col s6" style="text-align: right;">-->
<!--                        <i style="border-left:100px;" class="fa fa-commenting" aria-hidden="true"> 4</i>&nbsp;-->
<!--                        <i class="fa fa-share-alt" aria-hidden="true"> 2</i>-->
<!--                    </div>-->
<!--                </div>-->
            <!--좋아요. 댓글. 공유 이모티콘 -->
<!--             <div class="card-content">-->
<!--                <div class="col s5"><i class="fa fa-heart" aria-hidden="true"> 좋아요</i> </div>-->
<!--                <div class="col s4"><i style="border-left:100px;" class="fa fa-commenting" aria-hidden="true"> 댓글달기</i></div>-->
<!--                <div class="col s3" style="text-align: right;"><i class="fa fa-share-alt" aria-hidden="true"> 공유하기</i> </div>-->
<!--                <br>-->
<!--            </div>   -->
<!--              <div class="card-action">-->
<!--                 <input type="text" class="validate" name="content" id="content" placeholder="댓글" style="width:77%">-->
<!--                 <div class="col s3"><p>사무엘잭슨</p><p>갓유나링</p><p>지코개새</p></div> <div class="col s9"><p>헤헤헤</p><p>어쩌라고</p><p>지코를죽여</p></div>-->
<!--                <p>사무엘잭슨</p>-->
<!--              </div> -->
              
         
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->