

<!--팝업 내용물-->
<div class="ui custom popup top left transition hidden">
  <div class="ui small buttons">
    <button class="ui facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular youtube icon button">
      <i class="youtube icon"></i>
    </button>
  </div>
</div>


  
  
  
  
  
  
<!--팝업창용 script-->
<script>
$(document).ready(function(){
  $(".share")
    .popup({
      popup : $('.custom.popup'),
      on    : 'click'
    });
});
</script>








<button class="ui button black gridSwitch">
  보기 모드 전환
</button>

<i class="grid layout icon" style="display: none;"></i>
<i class="square icon" style="display: none;"></i>

<div class="ui three stackable cards" style="padding-bottom:100px;margin:0 auto;">
  <% @missions.each do |m| %>

<div class="ui fluid card">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="<%= m.multimedia %>"> Elliot
    </div>
    
    <!--메인 이미지-->
    <div class="image">
      <img class="image" src="<%= m.multimedia %>">
    </div>
    
    <!--내용-->
    <div class="content">
      <span class="left floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <div>
          <a href="#" class="mmm">
            <i class="share alternate icon"></i>
          </a>
          9 shared
        </div>
      </span>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
    </div>
  <% end %>
</div>


<script>
$(document).ready(function(){
    $('.gridSwitch').on('click',function(e) {
        
        if ($(this).hasClass('black')) {
            $('.cards').removeClass('three').addClass('one');
            $('.gridSwitch').removeClass('black').addClass('red');
        }
        
        else if($(this).hasClass('red')) {
            $('.cards').removeClass('one').addClass('three');
             $('.gridSwitch').removeClass('red').addClass('black');
        }
        
    });
});
</script>
