
<div class="some-wrapping-div">
  <div class="ui custom button">Show custom popup</div>
</div>
<div class="ui custom popup top left transition hidden">
  I'm not on the same level as the button, but i can still be found.
</div>

<script>
// 팝업창용
$(document).ready(function(){
  $('.ui.custom.button').click(function(){
    $('.some-wrapping-div').popup({
      debug : true,
      popup : $('.custom.popup'),
      on    : 'click'
    });  
  });
});
</script>

<script>
// 그리드 변경 버튼
$(document).ready(function(){
    $('.button').on('click',function(e) {
        
        if ($(this).hasClass('black')) {
            $('.cards').removeClass('ui three stackable cards').addClass('ui one stackable cards');
            $('.button').removeClass('black').addClass('red');
        }
        
        else if($(this).hasClass('red')) {
            $('.cards').removeClass('ui one stackable cards').addClass('ui three stackable cards');
             $('.button').removeClass('red').addClass('black');
        }
        
    });
});
</script>


 
 
<button class="ui button black">
  Button
</button>

<i class="grid layout icon" style="display: none;"></i>
<i class="square icon" style="display: none;"></i>

<div class="ui three stackable cards" style="padding-bottom:100px;margin:0 auto;">
  <% for i in 1..6 do %>

<div class="ui fluid card">
    <!--프로필 파트-->
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="/images/test<%= i%>.jpg"> Elliot
    </div>
    
    <!--메인 이미지-->
    <div class="image">
      <img class="image" src="/images/test<%= i%>.jpg">
    </div>
    
    <!--내용-->
    <div class="content">
      <span class="left floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <span class="right floated">
        <i class="comment icon"></i>
        3 comments
        <i class="share alternate icon"></i>
        9 shared
      </span>
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
    </div>
  <% end %>
</div>