// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.fa fa-heart:before { 
    font-family: FontAwesome;
    content: "\f095";
     display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
}

