<%= form_tag(register_infoget_path, :class => 'ui form') do %>
  <% if @user.email.nil? or @user.email == '' %>
    <div class="field">
      <label for="email">email</label>
      <%= text_field_tag :email %>
    </div>
  <% end %>
  
  <div class="field">
    <label for="nickname">nickname</label>
    <%= text_field_tag :nickname %>
  </div>
  <%= submit_tag "제출", :class => 'ui primary button' %>
<% end %>