<style type="text/css">
  body {
    /*background-color: #DADADA;*/
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    width: 100% !important;
    max-width: 450px !important;
  }
  .holder {
    height: 800px
  }
  .holder .middle {
    height: 100%
  }
</style>
<div class="holder">  
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class='ui orange image header'>
              닉네임 받기
            </h2>
            <%= render 'register/additionalInfo' %>
        </div>
    </div>
</div>