<div class="ui middle aligned center aligned grid nicForm">
  <div class="column nicColumn">
    <h2 class="ui image header nicImage">
      <div class="content">
        이메일, 닉네임 입력
      </div>
    </h2>
    <%= render 'register/additionalInfo' %>
  </div>
</div>