<!-- Modal Structure -->
<div class="ui modal" id="createMissionModalContent">
  <i class="close icon"></i>
  <div class="header">
    미션 만들기
  </div>
  <%= form_tag('/mission/mission_create', :enctype => 'multipart/form-data') do %>
  <!--    <input name="utf8" type="hidden"/>-->
  <!--<input name="authenticity_token" type="hidden"/>-->
    <div class="image content">
      <div class="ui medium image">
        <!--<img src="/images/test1.jpg">-->
        
        <input name="mission_multimedia" type="file" id="file" accept="image/*" onchange="getThumbnail(this,$('#image'))">
        <div id="image"></div>
        
        <!--<input type="file" name="mission_multimedia" accept="image/*">-->
        
      </div>
      <div class="description">
        <div class="ui header">
          <div class="ui form">
            <div class="field">
              <label></label>
              <input name="mission_title" type="text" placeholder="미션 제목">
            </div>
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label></label>
            <textarea name="mission_content" placeholder="미션 내용"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <!--<div class="ui black deny button">-->
      <!--  취소-->
      <!--</div>-->
    
        <button class="ui positive right labeled icon button">
          만들기
          <i class="checkmark icon"></i>
        </button>

    </div>
  <% end %>
</div>

<script>
$(document).ready(function(){
  $('#createMissionModalDesktop').click(function(){
    $('#createMissionModalContent').modal('show');
  });
  $('#createMissionModalTablet').click(function(){
    $('#createMissionModalContent').modal('show');
  });
});
</script>

<script type="text/javascript">
/**
 * 이미지 썸네일을 불러오는 function
 * @param html : input 필드의 dom을 인자로 받는다. 물론 타입은 file
 * @param $target : 불러온 이미지를 적용할 jquery 객체.
 **/
function getThumbnail(html, $target) {
   if (html.files && html.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
           $target.html('<img class="image" src="'+ e.target.result + '"/>')
          // $target.css({
          //   'background-image': 'url(\"' + e.target.result + '\")',
          //   'width' : '100%'
          // });
       }
       reader.readAsDataURL(html.files[0]);
   }
}
</script>