<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      
      <p>덕질은 아임덕</p>
      <a href="https://www.facebook.com/imdukk">
        <img class="ui centered mini image" src="/images/white_duck_logo.png">
      </a>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>