<style type="text/css">
  .button-collapse{
    float: right;
  }
</style>
<nav class="amber">
  <div class="nav-wrapper">
    <%= link_to image_tag("/images/logo.png"), root_path, :class => 'brand-logo center' %>
    <a href="#" data-activates="mobile-sideNav" class="button-collapse right"><i class="material-icons">menu</i></a>
    
    <!--navbar 들어가는 링크-->
    <%= render 'layouts/navbarlink' %>
    
  </div>
</nav>

