<!--navbar에 있는 dropdown 내용-->

<ul id="setCategory" class="dropdown-content">
  <li><a href="#">아이돌</a></li>
  <li><a href="#">게임</a></li>
  <li class="divider"></li>
  <li><a href="#">three</a></li>
</ul>